__pycache__/
*.py[cod]

.env/
env/
.venv/
venv/

# Audio/media outputs
*.wav

# System files MAC-specific
.DS_Store

audiocraft/ 

# If you are using pyenv or similar tools, you might want to ignore the Python version file
# Since we will be needing a python 3.9.x to run the audiocraft project
.python-version 